@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3t8j5g');
  src:  url('fonts/icomoon.eot?3t8j5g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3t8j5g') format('truetype'),
    url('fonts/icomoon.woff?3t8j5g') format('woff'),
    url('fonts/icomoon.svg?3t8j5g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
