body{ 
    background-color: #2E406E !important;
    margin: auto;
}


#titol1{
    height: 100px;
    margin-top: 0px;
    margin-bottom: 25px;
    position: relative;
    top: 25px;
    text-align: center;
    color: rgb(139, 214, 95);
    font-size: 70px;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto; 
}


#center{
    background-color: aqua;
    min-width: 250px;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;  
    
}




/*Cataleg*/

.item {
  border: 2px solid #000;
  padding: 10px;
  border-radius: 20px;
}

.item-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.item-image {
  height: 300px;
  width: 100%;
}

.item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 15px;
}

.item-details > .item-price {
  margin: 0;
}

/*Carrito compra*/
.shopping-cart-items {
  padding: 20px 0px;
}

.shopping-cart-header {
  border-bottom: 1px solid #ccc;
}

.shopping-cart-image {
  max-width: 80px;
  border-radius: 20px;
}

.shopping-cart-quantity-input {
  max-width: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #eee;
  padding: 5px;
}

.shopping-cart-total {
  min-height: 96px;
}