
body{
    background-image: url(./imatges/wallapaper.jpg);
    margin: auto;
}
#titol1{
    
    height: 100px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 15px;
}


#titol2{
    position: relative;
    top: 25px;
    text-align: center;
    color: rgb(139, 214, 95);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#container{
    display: flex;
    flex-wrap: wrap;
    margin: auto; 
}





#center{
    background-color: aqua;
    min-width: 250px;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;  
    
}

#cataleg{
    
    height: 100px;
    background-color: black;
    margin-top: 0px;
    margin-bottom: 15px;
}

#titol-cataleg{
    position: relative;
    top: 25px;
    margin-top: 15px;
    text-align: center;
    color: rgb(139, 214, 95);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




